h1
{
  color: navy;
  margin-left: 20px;
}
p
{
  color: blue;
}

button
{
  background-color:lightblue;
  color:darkblue;
}
/*courtesy of stackoverflow, from http://jsfiddle.net/ndhqM/*/
#contentBox {
    margin: 0 auto;
    width: 70%;
}

#contentBox .column {
    float: left;
    margin: 0;
    width: 33%;
}
/*courtesy of cssstickyfooter, from http://www.cssstickyfooter.com/using-sticky-footer-code.html*/
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}






label {
    font-family: arial;
    font-weight: bold;
}

input {
    display: block;
    padding: 10px 15px;
}

#image-preview,
canvas {
    margin: 20px 0 0 20px;
    border: 1px solid #cccccc;
}

.image-container {
    width: 200px;
    height: 100px;
    overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #e8e8e8;
    width: 14px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
