{% block base_body %}
{% if all_albums %}
  <h3> Here are all my albums </h3>
  <ul>
    {% for album in all_albums %}
    <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <h2> No albums </h2>
{% endif %}
<div class="row">
  <div class="large-12 columns" id="container">
      <p>
        If you can see this, React is <strong>not</strong> working right.
        If you checked out the source from GitHub make sure to run <code>grunt</code>.
      </p>
  </div>
</div>
{% endblock base_body %}
